
/* TOP LİNE */
.top-line {
    border-bottom: 1px solid #e7e9fc;
    height: 72px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.navbar {
    display: flex;
    align-items: center;
    flex-direction: column;     
}

.navbar-container {
    display: flex;
    align-items: center;
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.span {
    color: #2e2f42;
}

.link {
    color:#2e2f42;
    padding: 24px 0;    
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-studio {
    color: #404bbf;
    position: relative;

}

.link::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;      
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.top-line-ul {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#404bbf;
    display: block;
    gap: 40px;
}

.link:hover,
.link:focus {
    color: #404bbf;
}

.adress-tel {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}
.adress-tel::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-tel:hover,
.adress-tel:focus {
    color: #404bbf
}
.adress-maill:hover,
.adress-mail:focus {
    color: #404bbf;
}
.adress-mail-li {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-mail {
    position: relative;
    color: #404bbf;

}
.adress-mail::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.address-container {
    font-style: normal;
    padding-left: 280px;
    flex-direction: column;
}

.address-list-ul {
    display: flex;
    gap: 40px;
    flex-direction: column;
}
/* HERO İMAGE */
.hero-image {
    background-color: #2e2f42;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
    background-position: center;
    background-size: cover;  
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpg);
}
.hero-image-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:#ffffff;
    max-width: 496px; 
}
.hero-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
.hero-image-button {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#ffffff;
    display: block;
    min-width: 169px;
    height: 56px;
    border:none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor:pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.hero-image-button,
.hero-image-button {
    background-color: #404bbf;
    cursor: pointer;
}

/* SECTİON ONE */
.section-one {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-one-svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-one ul {
    display: flex;
    gap: 24px;
}

.section-one-li {
    width: calc((100% - 72px) / 4)
}

.section-one-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
}

.section-one-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* SECTİON TWO */
.section-two {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}
.second-two-title {
    text-align: center;
    margin-bottom: 8px;
}
.second-two-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 72px;
}

.section-two-div {
    padding: 32px 0;
}

.section-two ul {
    display: flex;
    gap: 24px; 
}  

.section-two-li:hover,
.section-two-li:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}


.section-two-li{
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 3 * 24px) / 4);
    flex-basis: calc((100% - 72px) / 4);
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 
                 0px 1px 1px rgba(46, 47, 66, 0.16),
                 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.section-two-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.social-media-button-ul {
    display: flex;
    justify-content:center;
    gap: 24px;

}

.social-media-button-li {
    width: 40px;
    height: 40px;
}

.social-media-button {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-button:hover,
.social-media-button:focus {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-svg {   
    fill: #f4f4fd
}
/* SECTİON THREE */
.section-three {
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 72px;
}

.section-three-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 72px;
}

.section-three-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.section-three-li {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4,0,0.2,1);
}

.section-three-li:hover {
    box-shadow: 0px 1px 6px rgba(46,47,66,0.08),0px 1px 1px rgba(46,47,66,0.16), 0px 2px 1px rgba(46,47,66,0.08);
}

.section-three-img-text-container {
    position: relative;
    overflow: hidden;
}

.section-three-text-long {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-three-li:hover .fourt-list-text {
    transform: translateY(0);
}  

.section-three-title-div {    
    padding: 32px 16px;
    border: 1px solid#e7e9fc;
    border-top: none;    
}

.section-three-subheading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;    
}

.section-three-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455
}

/* FOOTER */
.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    align-items: baseline;
    margin-right: 120px;
}

.footer-social-media-text {
    font-weight: 500px;
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}
.footer-social-media-svg {
    fill: #f4f4fd;
}

.footer-social-media-ul {
    display: flex;
    gap: 16px;
}

.footer-logo-text-container {
    margin-right: 120px;
}

.footer-text {
    line-height: 1.5;
    color:#f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.span-footer {
    color: #f4f4fd;
}

#footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}
.footer-social-media-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-button:hover,
.footer-social-media-button:focus {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}